
.liner1 {
  position: absolute;
  width: 100vw;
  height: 16vw;
  margin-top: 4.5vw;
  margin-left: 2vw;
}
.letter {
  position: absolute;
  margin-top: 0.2vw;
  margin-left: 0vw;
  font-size: 21.5vw;
  font-family: 'ABC';
  color: #FE6807;
}
.navigat {
  position: absolute;
  margin-top: -2vw;
  margin-left: 45vw;
  display: flex;
  justify-content: space-around;
  width: 52vw;
}
.navig {
  position: relative;
  font-size: 1.2vw;
  font-family: 'Arimo-Regular';
  color: #FE6807;
  text-align: center;
}
.navig1 {
  position: relative;
  font-size: 1.2vw;
  font-family: 'Arimo-Regular';
  color: #FE6807;
  text-align: center;
}
.navigat1 {
  position: absolute;
  margin-top: -2vw;
  margin-left: 45vw;
  display: flex;
  justify-content: space-around;
  width: 52vw;
}
.navig1 {
  position: relative;
  font-size: 1.2vw;
  font-family: 'Arimo-Regular';
  color: #323144;
  text-align: center;
}
.navig2 {
  position: relative;
  font-size: 1.2vw;
  font-family: 'Arimo-Regular';
  color: #323144;
  text-align: center;
}
a {
  text-decoration: none;
}
#letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10 {
  transform-origin: left;
}
#letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20, #letter21, #letter22, #letter23, #letter24, #letter25{
  transform-origin: left;
}
#letter26, #letter27, #letter28, #letter29, #letter30, #letter31,#letter33,#letter34,#letter35{
  transform-origin: left;
}
#letter36, #letter37, #letter38, #letter39, #letter40, #letter41{
  transform-origin: left;
}
#letter32 {
  top: -1.3vw; /* Прижимаем к верхнему краю */
  transform-origin: top; /*  верхняя граница */
  transform-origin: left;
}
.screen {
  height: auto;
  position: absolute;
  top: 1.75vw;
}
#screen1  {
  margin-top: 0.3vw;
  width: 29.5vw;
}
#screen2  {
  margin-top: 0.3vw;
  width: 13.6vw;
}
.liner2 {
  position: absolute;
  height: 16vw;
  width: 100vw;
  margin-top: 21.57vw;
  margin-left: 2vw;
}
.liner3 {
  position: absolute;
  width: 100vw;
  height: 16vw;
  margin-top: 38.5vw;
  margin-left: 2.2vw;
}
.navigation{
  position: absolute;
  width: 95.6vw;
  margin-top: 3vw;
  margin-left: 2.2vw;
}
.log{
  width: 8vw;
}
.log img{
  width: 8vw;
}
#screen3  {
  margin-top: 0.3vw;
  width: 10.75vw;
}
#screen4  {
  margin-top: 0.3vw;
  width: 25.9vw;
}
#screen5  {
  margin-top: 0.3vw;
  width: 17.5vw;
}
#screen6  {
  margin-top: 0.3vw;
  width: 22.9vw;
}
.poster-container {
  position: absolute;
  width: 15vw;
  height: 163vw; /* высота видимой области */
  overflow: hidden;
  margin-left: 65.7vw;
}
.poster-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 300vw; /* две группы по 150vw */
}
.poster {
  position: absolute;
  width: 12vw;
  left: 0;
  cursor: pointer;
  transition: transform 0.4s ease, z-index 0.4s ease;
  will-change: transform;
}
.poster1 { top: 10vw; z-index: 2;}
.poster2 { top: 20vw; z-index: 3;}
.poster3 { top: 30vw; z-index: 4;}
.poster4 { top: 40vw; z-index: 5;}
.poster5 { top: 50vw; z-index: 6;}
.poster6 { top: 60vw; z-index: 7;}
.poster7 { top: 70vw; z-index: 8;}
.poster8 { top: 80vw; z-index: 9;}
.poster9 { top: 90vw; z-index: 10;}
.poster10 { top: 100vw; z-index: 11;}
.poster11 { top: 110vw; z-index: 12;}
.poster12 { top: 120vw; z-index: 13;}
.poster13 { top: 130vw; z-index: 14;}
.poster14 { top: 140vw; z-index: 15;}
.poster15 { top: 150vw; z-index: 16;}

.clone .poster1 { top: -140vw; z-index: 1;}
.clone .poster2 { top: -130vw; z-index: 1;}
.clone .poster3 { top: -120vw; z-index: 1;}
.clone .poster4 { top: -110vw; z-index: 1;}
.clone .poster5 { top: -100vw; z-index: 1;}
.clone .poster6 { top: -90vw; z-index: 1;}
.clone .poster7 { top: -80vw; z-index: 1;}
.clone .poster8 { top: -70vw; z-index: 1;}
.clone .poster9 { top: -60vw; z-index: 1;}
.clone .poster10 { top: -50vw; z-index: 1;}
.clone .poster11 { top: -40vw; z-index: 1;}
.clone .poster12 { top: -30vw; z-index: 1;}
.clone .poster13 { top: -20vw; z-index: 1;}
.clone .poster14 { top: -10vw; z-index: 1;}
.clone .poster15 { top: 0vw; z-index: 1;}

.poster:hover {
  z-index: 1000;
  transform: translateY(-1.5vw);
}
.name{
  position: absolute;
  margin-top: 147.5vw;
  margin-left: 1.7vw;
  width: 63.3vw;
}
.name1{
  position: absolute;
  margin-top: 146.7vw;
  margin-left: 78.7vw;
  width: 19vw;
}
.banner{
  position: absolute;
  margin-top: 6vw;
  margin-left: 2.2vw;
  width: 1vw;
  height: 1vw;
}
.ban1 {
  position: absolute;
  margin-top: 0vw;
  margin-left: 0vw;
  width: 32vw;
  z-index: 11; 
}
.ban {
  position: absolute;
  margin-top: 3vw;
  margin-left: 2.5vw;
  width: 32vw;
  z-index: 10; 
}

/* Стили для дубликатов */
.clonne {
  position: absolute;
  width: 32vw;
  opacity: 1;
  pointer-events: none; /* чтобы не мешать наведению */
  transition: opacity 0.3s ease; /* время анимации */
}
.time{
  position: absolute;
  width: 19vw;
  opacity: 1;
  margin-left: 34.5vw;
  margin-top: 2vw;
}
.text{
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #323144;
  margin-left: 36.5vw;
  margin-top: 24.8vw;
}
.copy {
  position: absolute;
  width: 20vw;
  margin-left: 78.5vw;
  margin-top: 20vw;
}
.copy img {
  position: absolute;
  width: 11vw;

}
.copyy {
  left: 0;
}
.copyyy {
  left: 11vw;
}
.banner1{
  position: absolute;
  width: 45vw;
  height: 35vw;
  margin-top: 48vw;
  margin-left: 19vw;
}
.ban2 {
  position: absolute;
  height: 30vw;
  margin-top: 1vw;
  margin-left: 24.6vw;
}
.ban3 {
  position: absolute;
  width: 9vw;
  margin-top: 18.3vw;
  margin-left: 15.6vw;
}
.ban4 {
  position: absolute;
  width: 9vw;
  margin-top: 18.3vw;
  margin-left: 6.6vw;
}
.time2 {
  position: absolute;
  width: 12.8vw;
  margin-top: 17.8vw;
  margin-left: -6.3vw;
}
.text1 {
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #323144;
  margin-top: 16.4vw;
  margin-left: -5.5vw;
}
.visible {
  opacity: 1;
  visibility: visible;
}
.banner2{
  position: absolute;
  width: 38vw;
  height: 18.5vw;
  margin-top: 87vw;
  margin-left: 25.6vw;
}
.ban5{
  position: absolute;
  width: 39.1vw;
  z-index: 12;
}
.ban6{
  margin-top: -1.5vw;
  margin-left: -1.5vw;
  position: absolute;
  width: 39.1vw;
  z-index: 11;
}
.time3{
  position: absolute;
  margin-top: -2.2vw;
  margin-left: 52.3vw;
  width: 19vw;
}
.text2 {
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #323144;
  margin-top: 105.3vw;
  margin-left: 79vw;
}
.copy1 {
  position: absolute;
  width: 20vw;
  margin-left: 78.5vw;
  margin-top: 117vw;
}
.copy1 img {
  position: absolute;
  width: 11vw;

}
.copyy1 {
  left: 0;
}
.copyyy1 {
  left: 11vw;
}
.copyyyy1 {
  position: absolute;
  width: 20vw;
  margin-left: -24.7vw;
  margin-top: 0vw;
}
.time4 {
  position: absolute;
  width: 17.4vw;
  margin-left: 36.5vw;
  margin-top: 116.3vw;
}
.text3 {
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #323144;
  margin-left: 37vw;
  margin-top: 133.4vw;
}
.banner3{
  position: absolute;
  background-color: aquamarine;
  width: 20vw;
  height: 28vw;
  margin-top: 113vw;
  margin-left: 7vw;
}
.ban7{
  position: absolute;
  width: 20vw;
  z-index: 12;
}
.ban8{
  position: absolute;
  width: 20vw;
  z-index: 11;
  margin-top: 2vw;
  margin-left: -2vw;
}
.gossip{
  position: absolute;
  width: 97.5vw;
  margin-top: 7vw;
  margin-left: 1.65vw;
}
.text4{
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #323144;
  margin-left: 2vw;
  margin-top: 22vw;
  line-height: 1.2vw;
}
.text5{
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #323144;
  margin-left: 73.5vw;
  line-height: 1.2vw;
  margin-top: 22vw;
}
.picture{
  position: absolute;
  margin-top: 28.5vw;
  margin-left: 2vw;
  height: 64vw;
  width: 95vw;
}
[class^="space"] {
  position: absolute;
  width: 15vw;
  cursor: pointer;
  z-index: 7;
}

.space1, .space8 {
  margin-top: 0vw;
}
.space2, .space9 {
  margin-top: 9.2vw;
}
.space3, .space10 {
  margin-top: 18.4vw;
}
.space4, .space11 {
  margin-top: 27.6vw;
}
.space5, .space12 {
  margin-top: 36.8vw;
}
.space6, .space13 {
  margin-top: 46vw;
}
.space7, .space14 {
  margin-top: 55.2vw;
}
.space8, .space9, .space10, .space11, .space12, .space13, .space14 {
  margin-left: 80vw;
}
.centre{
  position: absolute;
  margin-top: 20vw;
  margin-left: 22.5vw;
  width: 50vw;
  z-index: 5;
}
.lin{
  position: absolute;
  margin-top: 0vw;
  margin-left: 0vw;
  width: 24.6vw;
  z-index: 1;
}
.lin1{
  position: absolute;
  margin-top: 9.2vw;
  margin-left: 0vw;
  width: 25vw;
  z-index: 1;
}
.lin2{
  position: absolute;
  margin-top: 18.4vw;
  margin-left: 0vw;
  width: 25.1vw;
  z-index: 1;
}
.lin3{
  position: absolute;
  margin-top: 27.6vw;
  margin-left: 0vw;
  width: 25.6vw;
  z-index: 1;
}
.lin4{
  position: absolute;
  margin-top: 34.6vw;
  margin-left: 0vw;
  width: 25.5vw;
  z-index: 1;
}
.lin5{
  position: absolute;
  margin-top: 38.2vw;
  margin-left: 0vw;
  width: 25.4vw;
  z-index: 1;
}
.lin6{
  position: absolute;
  margin-top: 42vw;
  margin-left: 0vw;
  width: 25.2vw;
  z-index: 1;
}
.lin7{
  position: absolute;
  margin-top: 0vw;
  margin-left: 70.2vw;
  width: 24.6vw;
  z-index: 1;
  transform: scaleX(-1);
}
.lin8{
  position: absolute;
  margin-top: 9.2vw;
   margin-left: 70.1vw;
  width: 24.6vw;
  z-index: 1;
  transform: scaleX(-1);
}
.lin9{
  position: absolute;
  margin-top: 18.4vw;
   margin-left: 70vw;
  width: 25vw;
  z-index: 1;
  transform: scaleX(-1);
}
.lin10{
  position: absolute;
  margin-top: 27.6vw;
   margin-left: 69.8vw;
  width: 25vw;
  z-index: 1;
  transform: scaleX(-1);
}
.lin11{
  position: absolute;
  margin-top: 34.7vw;
   margin-left: 69.8vw;
  width: 25vw;
  z-index: 1;
  transform: scaleX(-1);
}
.lin12{
  position: absolute;
  margin-top: 38.4vw;
  margin-left: 69.8vw;
  width: 25vw;
  z-index: 1;
  transform: scaleX(-1);
}
.lin13{
  position: absolute;
  margin-top: 42.2vw;
  margin-left: 69.8vw;
  width: 25vw;
  z-index: 1;
  transform: scaleX(-1);
}
.duble{
  position: absolute;
  margin-top: 97.5vw;
  margin-left: 0vw;
  width: 105vw;
  height: 16.5vw;
}
.duble1{
  position: absolute;
  margin-left: 0vw;
  width: 23vw;
}
.duble2{
  position: absolute;
  margin-left: 8vw;
  width: 23vw;
}
.duble3{
  position: absolute;
  margin-left: 16vw;
  width: 23vw;
}
.duble4{
  position: absolute;
  margin-left: 24vw;
  width: 23vw;
}
.duble5{
  position: absolute;
  margin-left: 32vw;
  width: 23vw;
}
.duble6{
  position: absolute;
  margin-left: 40vw;
  width: 23vw;
}
.duble7{
  position: absolute;
  margin-left: 48vw;
  width: 23vw;
}
.duble8{
  position: absolute;
  margin-left: 56vw;
  width: 23vw;
}
.duble9{
  position: absolute;
  margin-left: 64vw;
  width: 23vw;
}
.duble10{
  position: absolute;
  margin-left: 72vw;
  width: 23vw;
}
.duble11{
  position: absolute;
  margin-left: 80vw;
  width: 23vw;
}
.duble12{
  position: absolute;
  margin-left: 88vw;
  width: 23vw;
}
.duble13{
  position: absolute;
  margin-left: 96vw;
  width: 23vw;
}
.laptop{
  position: absolute;
  margin-left: -4vw;
  margin-top: 8vw;
  width: 40vw;
  height: 30vw;
}
.lap{
  position: absolute;
  width: 26vw;
}
.lap1{
  position: absolute;
  margin-left: 3vw;
  margin-top: 2vw;
  width: 26vw;
}
.lap2{
  position: absolute;
  margin-left: 6vw;
  margin-top: 4vw;
  width: 26vw;
}
.lap3{
  position: absolute;
  margin-left: 9vw;
  margin-top: 6vw;
  width: 26vw;
}
.lap4{
  position: absolute;
  margin-left: 12vw;
  margin-top: 8vw;
  width: 28vw;
}
.lap5{
  position: absolute;
  margin-left: 15vw;
  margin-top: 10vw;
  width: 28vw;
}
.lap6{
  position: absolute;
  margin-left: 18vw;
  margin-top: 12vw;
  width: 28vw;
}
.lap7{
  position: absolute;
  margin-left: 21vw;
  margin-top: 14vw;
  width: 28vw;
}
.lap8{
  position: absolute;
  margin-left: 18vw;
  margin-top: 17vw;
  width: 28vw;
}
.lap9{
  position: absolute;
  margin-left: 15vw;
  margin-top: 20vw;
  width: 28vw;
}
.lap10{
  position: absolute;
  margin-left: 12vw;
  margin-top: 23vw;
  width: 28vw;
}
.lap11{
  position: absolute;
  margin-left: 9vw;
  margin-top: 26vw;
  width: 28vw;
}
.lap12{
  position: absolute;
  margin-left: 6vw;
  margin-top: 29vw;
  width: 28vw;
}
.lap13{
  position: absolute;
  margin-left: 3vw;
  margin-top: 32vw;
  width: 28vw;
}
.lap14{
  position: absolute;
  margin-left: 13vw;
  margin-top: 30vw;
  width: 28vw;
}
.lap15{
  position: absolute;
  margin-left: 16vw;
  margin-top: 28vw;
  width: 28vw;
}
.lap16{
  position: absolute;
  margin-left: 19vw;
  margin-top: 26vw;
  width: 28vw;
}
.lap17{
  position: absolute;
  margin-left: 22vw;
  margin-top: 24vw;
  width: 28vw;
}
.lap18{
  position: absolute;
  margin-left: 25vw;
  margin-top: 22vw;
  width: 28vw;
}
.lap19{
  position: absolute;
  margin-left: 28vw;
  margin-top: 20vw;
  width: 28vw;
}
.lap20{
  position: absolute;
  margin-left: 31vw;
  margin-top: 18vw;
  width: 28vw;
}
.lap21{
  position: absolute;
  margin-left: 34vw;
  margin-top: 16vw;
  width: 28vw;
}
.lap22{
  position: absolute;
  margin-left: 37vw;
  margin-top: 14vw;
  width: 28vw;
}
.lap23{
  position: absolute;
  margin-left: 40vw;
  margin-top: 12vw;
  width: 28vw;
}
.lap24{
  position: absolute;
  margin-left: 45vw;
  margin-top: 9vw;
  width: 28vw;
}
.lap25{
  position: absolute;
  margin-left: 49vw;
  margin-top: 12vw;
  width: 28vw;
}
.lap26{
  position: absolute;
  margin-left: 53vw;
  margin-top: 15vw;
  width: 28vw;
}
.lap27{
  position: absolute;
  margin-left: 57vw;
  margin-top: 18vw;
  width: 28vw;
}
.lap28{
  position: absolute;
  margin-left: 61vw;
  margin-top: 21vw;
  width: 28vw;
}
.lap29{
  position: absolute;
  margin-left: 65vw;
  margin-top: 24vw;
  width: 28vw;
}
.lap30{
  position: absolute;
  margin-left: 69vw;
  margin-top: 27vw;
  width: 28vw;
}
.lap31{
  position: absolute;
  margin-left: 73vw;
  margin-top: 31vw;
  width: 28vw;
}
.lap32{
  position: absolute;
  margin-left: 80vw;
  margin-top: 29vw;
  width: 28vw;
}
.lap33{
  position: absolute;
  margin-left: 83vw;
  margin-top: 27vw;
  width: 28vw;
}
.lap34{
  position: absolute;
  margin-left: 86vw;
  margin-top: 25vw;
  width: 28vw;
}
.lap35{
  position: absolute;
  margin-left: 89vw;
  margin-top: 23vw;
  width: 28vw;
}
.lap36{
  position: absolute;
  margin-left: 92vw;
  margin-top: 21vw;
  width: 28vw;
}
.lap37{
  position: absolute;
  margin-left: 95vw;
  margin-top: 19vw;
  width: 28vw;
}
.lap38{
  position: absolute;
  margin-left: 98vw;
  margin-top: 16vw;
  width: 28vw;
}
.lap39 {
  position: absolute;
  margin-left: 101vw;
  margin-top: 13vw;
  width: 28vw;
}
.text6{
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #FE6807;
  margin-left: 23vw;
  line-height: 1.2vw;
  margin-top: 8vw;
}
.text7{
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #FE6807;
  margin-left: 37vw;
  line-height: 1.2vw;
  margin-top: 16vw;
}
.text8{
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #FE6807;
  margin-left: 40.7vw;
  line-height: 1.2vw;
  margin-top: 50.5vw;
}
.text9{
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #FE6807;
  margin-left: 56vw;
  line-height: 1.2vw;
  margin-top: 46.5vw;
}
.text10{
  position: absolute;
  font-size: 1.1vw;
  font-family: 'Arimo-Regular';
  color: #FE6807;
  margin-left: 83vw;
  line-height: 1.2vw;
  margin-top: 21.7vw;
}